body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #fff; 
	overflow: hidden;
	color: var(--default-font-color);
}

canvas {
	display: block;
	margin: 2rem auto;
	background: #1a1a1a; 
	max-width: 100vw;
	max-height: 80vh;
	width: 50rem;
	box-shadow: 0 0 16px #8888; 
}

#error {
	margin: 2em 20%;
}

#error:empty {
	display: none; 
}

label {
	margin-left: 3em;
}


:root {
	--default-font-color: #303030;
	--default-background-color: #e9e9e9;
}

